<%= form_for(sub_word_join) do |f| %>
  <% if sub_word_join.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sub_word_join.errors.count, "error") %> prohibited this sub_word_join from being saved:</h2>

      <ul>
      <% sub_word_join.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
