<%= form_for(sub_driver) do |f| %>
  <% if sub_driver.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sub_driver.errors.count, "error") %> prohibited this sub_driver from being saved:</h2>

      <ul>
      <% sub_driver.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
